/* Estilos del header y el navbar */
header {
    background-color: #fff; /* Cambia el color del fondo si es necesario */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Esto alinea el logo a la derecha y el menú a la izquierda */
    align-items: center; /* Alinea verticalmente el logo y el menú */
}

.nav-item {
    margin-left: 20px; /* Espacio entre los ítems del menú */
}

.titulo{
    padding: 20px;
    display: flex;
      justify-content: center;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      box-shadow: 0 4px 8px rgba(0,0,0,);
  }

.nav-link {
    color: #000; /* Color del texto */
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff; /* Color al pasar el mouse */
}

/* Estilos adicionales para el logo si lo tienes */
.logo-1 {
    margin-left: auto; /* Esto mueve el logo hacia la derecha */
}

/* Estilos para el carrusel */
.carousel-item img {
    max-height: 500px; /* Controla la altura de las imágenes del carrusel */
    object-fit: cover;
}

/* Estilos para las tarjetas de la sección banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
}

.card {
    margin-bottom: 15px; /* Reduce el espacio inferior entre las tarjetas */
    width: 18rem; /* Mantén el ancho consistente */
}

/* Estilos para el footer */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px;
}
